
    <div class="card">
        <div class="card-body">
            <div class="poste">
                <div class="imageprofil">
                    {% if poste.user.photoDeProfil %}
                        <img src="{{ asset(poste.user.photoDeProfil) }}"/>
                    {% else %}
                        <img src="{{ asset('/image/profil/ano.jfif') }}"/>
                    {% endif %}
                </div> 
                <div class="pseudoPoste">
                    <span>{{ poste.user.pseudo }}, 
                    {{ poste.statusposte }}</span>
                </div>

                <div id="avantPoste"></div>
                <div class="contenueposte">
                    <div>
                        <p>{{ poste.descriptionposte }}</p>
                    </div>
                    {% if poste.imageposte%}
                    <div>
                        <img src="{{ asset('public/image/poste/' ~ poste.imageposte) }}">
                    </div> 
                    {% endif %}
                </div>

                <div id="avantPoste"></div>
                
                <div class="infoposte">

                    <div>
                        <i data-feather="message-square" class="feather-icon"></i>
                        {{ poste.nombrereponse }}
                    </div>

                    <div></div>

                    <div>
                        {{ poste.dateposte| date('d/m/Y') }}
                    </div>
                </div>

               
                 
 
                

                
            </div>
        </div>
    </div>

